body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.counter-container {
    text-align: center;
}

h1 {
    font-size: 5em;
}

button {
    font-size: 1em;
    margin: 0.5em;
    padding: 0.3em 1em;
    border: 5px solid #000;
    cursor: pointer;
}

#increment:hover {
    background-color: green !important;
}

#reset:hover {
    background-color: red !important;
}